#serverList > .row{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#titles {
  font-weight: bold;
}

.icon {
  /*padding: 5px;*/
}

#actions {
  display: inline-block;
}

#actions img {
  cursor: pointer;
}

#actions img {
    height: 1.1em;
}

#dateControls {
  padding: 10px 20px;
}

#dateControls select {
  height: 100%;
}
